body {
    background-color: black;
    background-image: url("../img/bg1.jpg");
}

svg, rect, path {
    fill: white;
    stroke: white;
}

.abcjs-top-of-system {
    visibility: hidden;
}

.abcjs-inline-audio {
    background-color: #fff0
}

#tonic, #scale {
    width: inherit;
}

#sheetmusic {
    align-content: center;
}
